<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS</title>
    <style>
        body{
            margin: 0;
            background-color: lightgrey;
            text-align: center;
            font-family: "Comic Sans MS",sans-serif;
        }
        h1{
            font-size: 40px;
        }
        p{
            font-size: 18px;
        }
        nav{
            background-color: black;
            padding: 5px;
        }
        nav a{
            text-decoration: none;
            color: white;
            padding: 0 10px 0 10px;
        }
    </style>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact Us</a>
</nav>

    <div>
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad beatae debitis ducimus et eveniet excepturi exercitationem facere, hic inventore ipsam iure, iusto libero minus nemo neque nobis non omnis porro possimus, provident reprehenderit rerum sapiente similique temporibus vero voluptatem?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa cumque, deserunt dicta doloremque ducimus eligendi ex, neque nesciunt placeat reprehenderit saepe? Aliquam consequatur consequuntur deserunt nemo nihil nostrum obcaecati officia omnis porro quam, quas rem repellat rerum saepe, ut velit voluptatum. Molestias nam placeat praesentium soluta temporibus! Dignissimos, tempora?</p>
     </div>

</body>
</html>
