<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS</title>
    <style>
        body{
            margin: 0;
            background-color: lightblue;
            text-align: center;
            font-family: "Comic Sans MS",sans-serif;
        }
        h1{
            font-size: 40px;
        }
        p{
            font-size: 18px;
        }
        nav{
            background-color: black;
            padding: 5px;
        }
        nav a{
            text-decoration: none;
            color: white;
            padding: 0 10px 0 10px;
        }
    </style>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact Us</a>
</nav>

    <div>
        <h1>Get In Touch</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque hic, impedit nobis repellendus temporibus voluptatibus? Beatae, dolorum earum ex facilis libero molestiae natus nemo nulla praesentium soluta suscipit veniam voluptate? Dignissimos eos est incidunt ipsam maxime numquam perferendis suscipit vel?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolor excepturi explicabo facilis molestiae odit omnis quae sapiente sunt vitae? Delectus, ipsam nemo perferendis possimus quaerat sit vero voluptatum. Adipisci alias amet aut cum cupiditate debitis distinctio enim excepturi facilis fugiat laborum libero maiores, minima, necessitatibus officiis quos, tempore ut!</p>
    </div>

</body>
</html>
